[Unit]
Description=Backbot service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/local/bin/backbot.sh
User=backbot

[Install]
WantedBy=multi-user.target
